{% extends 'base.html.twig' %}

{% block title %}RUN - Connexion
{% endblock %}

{% block body %}
	<div class="img-background-connexion">
		<section class="col-8 col-lg-6 mx-auto border-lg rounded-4 px-5 pb-5 form-opacity">
			<header class="container text-white text-shadow text-center my-5">
				<h1>Connectez-vous</h1>
			</header>


			<form method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						Vous êtes connecté en tant que
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}">Se déconnecter</a>
					</div>
				{% endif %}


				<label for="inputUsername" class="fs-5 text-shadow text-white fw-bolder mb-2">Nom d'utilisateur</label>
				<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control mb-3" autocomplete="username" required autofocus>
				<label for="inputPassword" class="fs-5 text-shadow text-white fw-bolder mb-2">Mot de passe</label>
				<input type="password" name="password" id="inputPassword" class="form-control mb-3" autocomplete="current-password" required>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<div class="checkbox mb-3">
					<label class="text-white fs-5 text-shadow helvetica fw-bold">
						<input type="checkbox" name="_remember_me">
						Se souvenir de moi
					</label>
				</div>

				<div>
					<button class="btn-connexion-login montserrat" type="submit">
						Se connecter
					</button>
					<button class="btn-inscription-login montserrat">
						<a class="tdn" href="{{ path('app_register') }}">Créer son compte</a>
					</button>
				</div>

			</form>
		</div>
	</section>
{% endblock %}
